.home_header{

	background-color: $second_main_color;
	@include flex(scretch,scretch, row);

	.image{
		flex: 1.5;
		img{
			width: 100%;
		}
	}

	.citation{

		flex: 1;
		padding: oe_rem(50px) oe_rem(20px) ;

		.bloc{
			width: 80%;
			.titre{
				font-size: oe_rem(32px);
				margin-bottom: oe_rem(40px);
			}

			.description{
				font-size: oe_rem(18px);
				color: $text_color;
			}
			
			
			
		}

	}

	@include media("<xl"){ 
		.citation{
			padding: oe_rem(30px) oe_rem(15px) oe_rem(15px); 
			.bloc{ 
				flex: 1.5;
			}
		}
	}

	@include media("<lg"){
		@include flex(scretch, scretch, column-reverse); 
		.citation{
			.bloc{ 
				width: 100%; 
				.titre{
					font-size: oe_rem(32px);
					margin-bottom: oe_rem(20px);
				}
			}
		}
	}

	@include media("<md"){
		@include flex(scretch, scretch, column-reverse);

	}
}




