.adverts{
  display: block !important;  
}
.adverts-form{

  &.adverts-form-update{
    .adverts-control-group {

      &.adverts-field-header{
        height: oe_rem(45px);
        margin-top: -1px !important;
        background-color: $second_main_color;
        border-top: 1px solid $text_color;
        border-bottom: 1px solid $text_color;
        @include flex(center, center, row);
        margin: 0;
        .adverts-field-header {
          border: none;
          padding: 0;
          margin: 0;
          .adverts-field-header-title { 
            font-size: oe_rem(18px);
            line-height: oe_rem(18px);
            font-weight: 500;
            text-transform: uppercase;
          }
        }
      }
    }
    
  }

  fieldset {
    margin: 0;
    padding: 0 !important;
    border: 0;
  }

  .adverts-control-group {

    &.adverts-field-header{
      height: oe_rem(95px);
      margin-top: -1px !important;
      background-color: $second_main_color;
      border-top: 1px solid $text_color;
      border-bottom: 1px solid $text_color;
      @include flex(center, center, row);
      margin: 0;
      .adverts-field-header {
        border: none;
        padding: 0;
        margin: 0;
        .adverts-field-header-title { 
          font-size: oe_rem(29px);
          line-height: oe_rem(29px);
          font-weight: 500;
          text-transform: uppercase;
        }
      }
    }

    &.adverts-field-text{
      &.adverts-field-name-post_title{
        label{
          span{
            display: none !important;            
          }
        }
      }
      &.adverts-field-name-adverts_phone {
        label{
          span{
            display: none !important;            
          }
        }
      }
      &.adverts-field-name-adverts_email {
        label{
          span{
            display: none !important;            
          }
        }
      }
    }

    &.adverts-field-textarea{ 
      &.adverts-field-name-post_content{
        label{
          display: none !important;
        }
      }
    }

    &.adverts-field-text{ 
      &.adverts-field-name-adverts_phone{
        label{
          display: none !important;
        }
      }
      &.adverts-field-name-adverts_email{
        label{
          display: none !important;
        }
      }
      &.adverts-field-name-post_content{
        label{
          display: none !important;
        }
      }
      &.adverts-field-name-adverts_price{
        label{
          display: none !important;
        }
      }
    }
 

    &.adverts-field-name-prev_next{
      label{
        display: none !important;
      }
    }


  } 

  &.adverts-form-aligned {
    .adverts-control-group {
        & > div {
          width: 100% !important; 
          float: none !important;
          padding: initial !important;
        }
    }
  }
 	
  .wp-editor-wrap{
    padding: 0 !important;
  }

  input{

    &[type="text"], 
    &[type="password"], 
    &[type="email"], 
    &[type="url"], 
    &[type="date"], 
    &[type="month"], 
    &[type="time"], 
    &[type="datetime"], 
    &[type="datetime-local"], 
    &[type="week"], 
    &[type="number"], 
    &[type="search"], 
    &[type="tel"], 
    &[type="color"]{ 
      font-size: oe_rem(14px);
      height: oe_rem(50px);
      line-height: oe_rem(50px);
      border-radius: oe_rem(2px);
      border: 1px solid $dark_color; 
      margin: oe_rem(15px) 0;
    }

    &[type="submit"]{
      cursor: pointer;
      width: 100% !important;
      font-size: oe_rem(19px) !important;
      max-width: oe_rem(260px);
      height: oe_rem(50px);
      line-height: oe_rem(50px);
      border-radius: oe_rem(2px); 
      margin: oe_rem(15px) 0;
      color: #fff; 
      background-color: $main_color;
      border: none;
    }

  }

  select, 
  textarea{ 
    height: oe_rem(50px);
    line-height: oe_rem(50px);
    border-radius: oe_rem(2px);
    border: 1px solid $dark_color;
    padding: 0 oe_rem(15px) 0 oe_rem(46px) ;
    margin: oe_rem(15px) 0;
  }

  textarea{ 
    font-size: oe_rem(14px);
    height: oe_rem(150px);
    margin: oe_rem(15px) 0;
  } 

  .adverts-plupload-upload-ui {
    width: 100%;
    float: none;
  }


  @include media("<sm"){
    .adverts-control-group {

      &.adverts-field-header{
        height: oe_rem(45px); 
        .adverts-field-header { 
          .adverts-field-header-title { 
            font-size: oe_rem(18px);
            line-height: oe_rem(18px); 
          }
        }
      }   
  
    } 
  }
}

.adverts-options-left, .adverts-options-right { 
   position: absolute;
   bottom: -80px;
}

.advert_single_container{
   .advert_info{
      @include flex(center, flex-start, row);
      .advert_date{
         font-size: oe_rem(14px);
         font-weight: 300;

      }
      .advert_lieu{
         font-size: oe_rem(14px);
         font-weight: 300;
         margin-left: oe_rem(10px);
      }
      .advert_share{
        margin-left: auto;
        @include flex(center, flex-start, row);
        a{
          color: $main_text_color;
          font-size: oe_rem(14px);
          padding: oe_rem(6px);
          &:hover{
            color: $text_color;
          }
        }
      }
   }
   .advert_title{
      font-size: oe_rem(29px);
      line-height: oe_rem(50px);
      font-weight: 500;
      padding-bottom: oe_rem(6px);
   }
   .advert_category{
      font-size: oe_rem(14px);
      font-weight: 600;
      padding-bottom: oe_rem(10px);
   }
}

.annonce_detail_side{
   background-color: $lighter_color;
   padding: oe_rem(50px) oe_rem(30px);
   margin-bottom: oe_rem(40px);
   .annonce-row{
      @include flex(center, space-between, row);
      padding: oe_rem(8px) 0;
      font-size: oe_rem(23px); 
      font-family: $second-font-family-sans-serif;
      font-weight: 300;
      .name{
        font-family: $font-family-base;
      }
      .author{
        text-transform: uppercase;
      }
   }
}

.contacter_annonceur{
   background-color: $lighter_color;
   .adverts-contact-box {
      border: none;
      background-color: transparent;
      display: none; 
      margin: 0 !important;
      padding: 0 0 oe_rem(40px) 0;
      .adverts-control-group {
         margin-bottom: oe_rem(15px);
      }
      input{
         border: 1px solid #afafaf;
         border-radius: oe_rem(4px);
         height: oe_rem(60px);
         line-height: oe_rem(60px);
         padding: 0 oe_rem(30px) !important;
         background-color: $lighter_color;
         width: 100% !important;
         font-size: oe_rem(16px);
         font-weight: 200;
         &[type="submit"]{
            background-color: $main_color;
            color: white;
            font-size: oe_rem(19px) !important;
            text-align: center;
            width: auto !important;
         }
      }

      textarea{
         border: 1px solid #afafaf;
         background-color: $lighter_color;
         border-radius: oe_rem(4px);
         height: oe_rem(150px);
         line-height: oe_rem(60px);
         width: 100% !important;
         font-size: oe_rem(16px);
         font-weight: 200;
         padding: oe_rem(0px) oe_rem(30px);
      }

   }
   .adverts-button {
      display: none;
   }
   .adverts-show-contact-form{
      display: block;
      height: auto;
      font-size: oe_rem(22px);
      font-weight: 200;
      color: $text_color !important;
      padding: oe_rem(30px) 0;
      background: transparent;
      border: none;
      text-transform: uppercase;
      &:hover{
         color: $text_color !important;
         background: transparent;
         border: none;
      }
   }

   .adverts-field-error-list {
      list-style-type: none !important;
      margin: 0 !important;
      padding: 0 !important; 
  }
}

.hide_section{
  display: none !important;
}

.prev_next_container{
  padding: oe_rem(40px) 0;
  @include flex(center, center, row);
  a{
    width: oe_rem(160px);
		height: oe_rem(50px); 
		line-height: oe_rem(50px); 
		color: $main_color;
    background-color: $lighter_color; 
		margin: 0 oe_rem(15px); 
    text-align: center;
    font-weight: 500;
    &:hover{
      color: white;
      background-color: $main_color; 
    }
  }
}

.header_bandeau{
  .search_zone {
    .adverts-multiselect-options {
      & > label{
        & > input {
          margin: 0 !important;
        }
      }
    }
  }
  
}

div.adverts-flash-messages {
  clear: both;
  overflow: hidden;
  padding: 5px;
  margin: 0;
  line-height: 14px;
  color: white;
  // position: absolute;
  // right: 0;
  // left: 0;
  // bottom: -24px;
}

.advert_alert{
  font-size: oe_rem(14px);
  display: none;
  &.advert_danger{
    color: $brand-danger;
  }
  &.advert_success{
    color: $brand-success;
  }
}

.adverts-form-required{
  display: none;
}

.message_contact_form{
  .adverts-form{
    input{

      &[type="text"], 
      &[type="password"], 
      &[type="email"], 
      &[type="url"], 
      &[type="date"], 
      &[type="month"], 
      &[type="time"], 
      &[type="datetime"], 
      &[type="datetime-local"], 
      &[type="week"], 
      &[type="number"], 
      &[type="search"], 
      &[type="tel"], 
      &[type="color"]{  
        margin: 0 oe_rem(15px) 0 0;
      }
   
    }
    
    textarea{ 
      margin: 0 !important;
      border: 1px solid $dark_color;
    }
  }
}

.adverts-category-all-main{
  display: block !important;
  margin-bottom: oe_rem(10px);
}

.gallerymessage{
  padding: oe_rem(15px) 0;
}