



.advert_bandeau{  
	.header_bandeau_content{  
		height: oe_rem(110px) !important;
		.header_bandeau{ 
			height: oe_rem(110px);
			&.header_bandeau_home{
				background: none; 
				background-color: $lighter_color; 
			}
			.titre{ 
				font-size: oe_rem(0px); 
				margin-bottom: oe_rem(0);
			} 
			.custom_sorting{
				display: none;
			}
		}

		@include media("<lg"){
			height: auto !important;
			
			.header_bandeau{
				height: auto;
				margin: oe_rem(20px) 0; 
				.search_zone{ 
					padding: oe_rem(10px) oe_rem(20px);
					height: auto;
					@include flex(center, stretch, column);
					.advert-input{
						width: 100%;
					}
					input,
					select,
					.adverts-js{  
						width: 100%;
					}
					.adverts-form-submit{ 
						width: 100%;
						margin: oe_rem(10px) 0;
					}
				}
			}
		}

	}
}

.header_bandeau_content{ 
	height: oe_rem(275px); 
	&.fixed{
		.header_bandeau{
			z-index: 99;
			height: oe_rem(110px);
			padding: oe_rem(10px) 0 !important;
			@include oe_box-shadow-dark;
			@include position(fixed, oe_rem(80px), 0, initial, 0);
			.titre{ 
				font-size: oe_rem(0px); 
				margin-bottom: oe_rem(0);
			} 
			.custom_sorting{
				display: none;
			}
		}
	}
	.header_bandeau{
		height: oe_rem(275px);
		@include flex(center, center, row);
		background-color: $lighter_color; 
		padding: oe_rem(60px) 0;
		@include transition(height , .2s, ease-in-out);
		
		&.header_bandeau_home{
			background: url(./img/bandeau.jpg) no-repeat 50%;
			background-size: cover;
			margin-bottom: oe_rem(0px);
			padding: oe_rem(25px) 0;
		}
		.titre{
			@include transition(all , .15s, ease-in-out);
			color: #fff;
			font-weight: 500;
			font-size: oe_rem(36px);
			text-transform: uppercase;
			margin-bottom: oe_rem(55px);
		}
		.search_zone{
			background-color: $light_color;
			height: oe_rem(90px);
			border-radius: oe_rem(4px);
			padding: 0 oe_rem(25px);
			@include flex(center, space-between, row);
			.advert-input{
				width: 25%;
				input,
				select{ 
					color: $text_color;
					font-size: oe_rem(19px); 
					height: oe_rem(50px);
					border-radius: oe_rem(4px);
					padding: 0 oe_rem(30px);
					margin: oe_rem(10px) 0 !important;
					border: none;
					&[type="submit"]{
						background-color: $text_color;
						padding: 0 oe_rem(25px);
						color: #fff;
					}
					&[type="checkbox"]{
						height: auto;
						margin: oe_rem(3px) oe_rem(5px) auto !important;
					}
					&::placeholder,
					&:-ms-input-placeholder,
					&::-ms-input-placeholder{
						color: $text_color !important;
					}
				}
			}
			.adverts-form-submit{
				font-size: oe_rem(19px); 
				height: oe_rem(50px);
				line-height: oe_rem(50px);
				border-radius: oe_rem(4px); 
				border: none;
				background: $text_color;
				padding: 0 oe_rem(25px);
				color: #fff;
				text-transform: uppercase;
				.adverts-icon-search{
					float: right;
				}
			}
		}
		
	}

	@include media("<lg"){
		height: auto;
		
		.header_bandeau{
			height: auto;
			margin: 0; 
			.titre{ 
				font-size: oe_rem(24px);
				text-transform: uppercase;
				margin-bottom: oe_rem(25px);
			}
			.search_zone{ 
				padding: oe_rem(10px) oe_rem(20px);
				height: auto;
				@include flex(center, stretch, row);
				flex-wrap: wrap;
				.advert-input{
					width: 50%;
					float: left;
					padding: 0 2px;
				} 
				.adverts-js{
					width: 50%; 
					padding: 0 2px;
				}

				.adverts-form-submit{ 
					width: 100%;
					margin: oe_rem(10px) 0;
				}
			}
		}
	}

	@include media("<md"){
		height: auto;
		
		.header_bandeau{
			height: auto;
			margin: oe_rem(20px) 0; 
			.titre{ 
				font-size: oe_rem(24px);
				text-transform: uppercase;
				margin-bottom: oe_rem(25px);
			}
			.search_zone{ 
				padding: oe_rem(10px) oe_rem(20px);
				height: auto;
				@include flex(center, stretch, column);
				.advert-input{
					width: 100%;
					padding: 0;
				} 
				.adverts-js{  
					width: 100%;
					padding: 0;
				}
				.adverts-form-submit{ 
					width: 100%;
					margin: oe_rem(10px) 0;
				}
			}
		}
	}
}


.bandeau{
	position: relative;
	height: oe_rem(320px);
	background-color: $light_color;
	img{
		width: 100%;
	}
	.info{
		position: absolute;
		top:0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 3; 
		text-align: center;
		padding: oe_rem(20px) 0;
		@include flex(center,center,column);
		.titre{
			color: $main_text_color;
			font-size: oe_rem(33px);  
			font-weight: 300;
		}
		.description{
			color: $main_text_color;
			font-size: oe_rem(26px); 
			margin: oe_rem(45px) 0 oe_rem(40px);
			font-weight: 300;
		}
		a{   
			@include button-variant(#fff, $main_color, $main_color);
			height: oe_rem(50px);
			line-height: oe_rem(50px);
			padding: 0 oe_rem(20px);
			min-width: oe_rem(175px);
			border-radius: oe_rem(4px);
		}
	} 

	@include media("<md"){
		height: auto;
		img{
			height: 100%;
		}
		.info{
			position: relative;
			.titre{
				font-size: oe_rem(40px); 
			}
			.description{
				font-size: oe_rem(20px); 
			}
			a{
				margin-top: oe_rem(20px); 
			}
		} 

	} 

	@include media("<sm"){
		height: auto;
		img{
			height: 100%;
		}
		.info{
			position: relative;
			.titre{
				font-size: oe_rem(25px); 
			}
			.description{
				font-size: oe_rem(20px); 
			}
			a{
				margin-top: oe_rem(20px); 
			}
		} 

	} 

}



.custom_sorting{
	@include flex(flex-start, flex-start, row);
	@include position(absolute, initial, oe_rem(15px), -75px, oe_rem(15px));
	.custom_sorting_container{
		@include flex(center, center, row);
		.custom_sorting_titre{
			padding-left: oe_rem(20px);
			font-size: oe_rem(19px);
			font-weight: 500;
			color: $main-color;
		}
		.budget-range-container{
			padding: 0 20px;
			@include flex(flex-start, center, row); 
			
			.budget-range {
				float: left;
				margin-left: 10px;
				width: oe_rem(250px);
				p {
					color: #000;
					font-size: 14px;
					margin: 0 !important;
					text-align: center;
					font-weight: 500;
					font-family: $second-font-family-sans-serif;
				}
				
				.ui-slider {
				
					.ui-slider-handle { 
						cursor: default;
						height: 1em;
						position: absolute;
						width: 1em;
						z-index: 2;
					}
				
					.ui-slider-range {
						background-color: $main-color;
						background-position: 0 0;
						border: 0 none;
						display: block;
						font-size: 0.7em;
						position: absolute;
						z-index: 1;
					}

					&.ui-slider-horizontal {
			
						height: 0.5em;
						top: 2px;
					
						.ui-slider-handle {
							border-radius: 50%;
							margin-left: -0.6em;
							top: -0.35em;
						}
					
					}
				
				}
			
			} 
			
			
		}

		.checkbox_pics{
			width: oe_rem(95px);
			height: oe_rem(50px); 
			color: $main_color;
			float: left; 
			margin: 0;
			text-align: center !important;
		
			[type=checkbox], [type=radio] {
				position: absolute;
				left: -9999px;
				visibility: visible;
				box-sizing: border-box;
				padding: 0;
			}
		
			label {
				cursor: pointer;
				position: relative; 
				display: inline-block;
				height: oe_rem(50px);
				line-height: oe_rem(50px);
				width: 100%;  
				border-radius: oe_rem(4px);
				margin: 0;
				padding: 0;
				font-size: oe_rem(19px);
				font-weight: 500;
				color: $main_color;
				background-color: white;
				text-align: center !important;
			}
		
			label.checked {
				color: white;
				background-color: $main_color;
			}
		
			label.checked:after { 
				content: '\f00c';
				font-size: 12px;
				font-family: 'Font Awesome 5 Free';
				font-weight: 900;
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				display: inline-block;
				font-style: normal;
				font-variant: normal;
				text-rendering: auto;
				line-height: 1;
				margin-left: 5px;
			}
			@include media("<md"){
				float: none;
				margin: oe_rem(15px) auto !important;
			}
		}
	}
	.decocher_filtres{
		margin-left: auto;
		font-weight: 500;
		font-size: oe_rem(14px);
	} 

	@include media("<lg"){
		padding: oe_rem(10px) 0;
		width: 100%;
		@include position(relative, initial, initial, initial, initial);
		@include flex(flex-start, flex-start, column);
		.custom_sorting_container{
			width: 100%;
			padding: oe_rem(10px) 0;
			@include flex(center, space-between, row);
			.custom_sorting_titre{
				padding-left: oe_rem(0);
			}
			.budget-range-container{
				padding: oe_rem(15px) 0 oe_rem(10px);
			}
		}
	}

	@include media("<md"){ 
		.custom_sorting_container{ 
			@include flex(center, center, column); 
		}
	}
}