.header_bandeau_content{ 
	height: oe_rem(275px); 
	margin-bottom: oe_rem(30px);
	&.fixed{    
		height: oe_rem(375px);
		.header_bandeau{
			z-index: 999;
			height: oe_rem(110px);
			padding: oe_rem(10px) 0;
			@include oe_box-shadow-dark;
			@include position(fixed, oe_rem(80px), 0, initial, 0);
			.titre{ 
				font-size: oe_rem(0px); 
				margin-bottom: oe_rem(0);
			} 
		}
	}
	.header_bandeau{
		height: oe_rem(275px);
		@include flex(center, center, row);
		background-color: $lighter_color; 
		padding: oe_rem(25px) 0;
		@include transition(height , .2s, ease-in-out);
		
		&.header_bandeau_home{
			background: url(./img/bandeau.jpg) no-repeat 50%;
			background-size: cover;
			margin-bottom: oe_rem(0px);
		}
		.titre{
			@include transition(all , .15s, ease-in-out);
			color: #fff;
			font-weight: 500;
			font-size: oe_rem(38px);
			text-transform: uppercase;
			margin-bottom: oe_rem(65px);
		}
		.search_zone{
			background-color: $light_color;
			height: oe_rem(90px);
			border-radius: oe_rem(4px);
			padding: 0 oe_rem(25px);
			@include flex(center, space-between, row);
			.advert-input{
				width: 25%;
				input,
				select{ 
					color: $text_color;
					font-size: oe_rem(19px); 
					height: oe_rem(50px);
					border-radius: oe_rem(4px);
					padding: 0 oe_rem(14px);
					margin: oe_rem(10px) 0 !important;
					border: none;
					&[type="submit"]{
						background-color: $text_color;
						padding: 0 oe_rem(25px);
						color: #fff;
					}
					&[type="checkbox"]{
						height: auto;
						margin: oe_rem(3px) oe_rem(5px) auto !important;
					}
				}
			}
			.adverts-form-submit{
				font-size: oe_rem(19px); 
				height: oe_rem(50px);
				line-height: oe_rem(50px);
				border-radius: oe_rem(4px); 
				border: none;
				background: $text_color;
				padding: 0 oe_rem(25px);
				color: #fff;
				text-transform: uppercase;
			}
		}
		
	}

	@include media("<md"){
		height: auto;
		
		.header_bandeau{
			height: auto;
			margin: oe_rem(20px) 0;
			&.header_bandeau_home{ 
			}
			.titre{ 
				font-size: oe_rem(24px);
				text-transform: uppercase;
				margin-bottom: oe_rem(25px);
			}
			.search_zone{ 
				padding: oe_rem(10px) oe_rem(20px);
				height: auto;
				@include flex(center, stretch, column);
				.advert-input{
					width: 100%;
				}
				input,
				select,
				.adverts-js{  
					width: 100%;
				}
				.adverts-form-submit{ 
					width: 100%;
					margin: oe_rem(10px) 0;
				}
			}
		}
	}
}


.bandeau{
	position: relative;
	height: oe_rem(320px);
	background-color: $light_color;
	img{
		width: 100%;
	}
	.info{
		position: absolute;
		top:0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 3; 
		text-align: center;
		padding: oe_rem(20px) 0;
		@include flex(center,center,column);
		.titre{
			color: $main_text_color;
			font-size: oe_rem(33px);  
			font-weight: 300;
		}
		.description{
			color: $main_text_color;
			font-size: oe_rem(26px); 
			margin: oe_rem(45px) 0 oe_rem(40px);
			font-weight: 300;
		}
		a{   
			@include button-variant(#fff, $main_color, $main_color);
			height: oe_rem(50px);
			line-height: oe_rem(50px);
			padding: 0 oe_rem(20px);
			min-width: oe_rem(175px);
			border-radius: oe_rem(2px);
		}
	} 

	@include media("<md"){
		height: auto;
		img{
			height: 100%;
		}
		.info{
			position: relative;
			.titre{
				font-size: oe_rem(40px); 
			}
			.description{
				font-size: oe_rem(20px); 
			}
			a{
				margin-top: oe_rem(20px); 
			}
		} 

	} 

	@include media("<sm"){
		height: auto;
		img{
			height: 100%;
		}
		.info{
			position: relative;
			.titre{
				font-size: oe_rem(25px); 
			}
			.description{
				font-size: oe_rem(20px); 
			}
			a{
				margin-top: oe_rem(20px); 
			}
		} 

	} 

}

