#buddypress div.item-list-tabs ul li.current a, 
#buddypress div.item-list-tabs ul li.selected a {
    background-color: #eee;
    color: #555;
    opacity: .9;
    font-weight: 700;
    background: transparent;
    color: #007e1d;
}


.buddypress_form{
    form{
        p{
            margin: 0;
        }
    }
    label{
        margin: 0;
    }
}

#buddypress{

    #item-nav{
        ul{
            @include flex(stretch, stretch, column);
            li{
                a{
                    @include flex(center, flex-start, row);
                    background-color: $main_color;
                    margin-top: oe_rem(5px);
                    padding: oe_rem(10px) oe_rem(8px);
                    border: oe_rem(1px) solid $main_color; 
                    color: white;
                    opacity: 1;
                    span{
                        margin-left: auto;
                    }
                }
                &.current,
                &.selected,
                &:hover{
                    a{
                        background-color: transparent; 
                        color: $main_color;
                    }
                }
            }
        }
    }
    #item-body{
        ul{
            li{
                a{
                    padding: oe_rem(5px) oe_rem(20px) oe_rem(5px) 0;
                }
            }
        }
    }

    .standard-form{
        input{ 
            font-size: oe_rem(14px) !important;
            height: oe_rem(50px) !important;
            line-height: oe_rem(50px) !important;
            border-radius: oe_rem(4px) !important;
            border: 1px solid #dbdbdb !important;
            margin: 0 !important;
            background: #fff !important;
            &[type='submit']{ 
                color: #fff !important; 
                border: none !important;
                cursor: pointer !important;
                height: oe_rem(50px) !important;
                margin: oe_rem(15px) 0 !important;
                width: 100% !important !important;
                font-size: oe_rem(19px) !important;
                max-width: oe_rem(260px) !important;
                line-height: oe_rem(50px) !important;
                border-radius: oe_rem(4px) !important; 
                background-color: $main_color !important;
            }
        }

        label, 
        legend, 
        span.label {
            display: block;
            font-weight: 400 !important;
            margin: 15px 0 5px;
            width: auto;
        }
    }


}



.register-section{
    legend{
        font-size: oe_rem(16px);
        font-weight: 300;
        margin: 0;
    }
}

.forgotPassword{
    font-size: oe_rem(14px);
}

.profil_info{
    line-height: oe_rem(30px);
}


#buddypress div#item-header div#item-meta {
    font-size: 90% !important;
    color: #000000 !important;
    font-weight: 400;
    margin: 0;
}

#change-avatar-personal-li,
#general-personal-li,
#profile-personal-li,
#manage-personal-li{
    display: none;
}
#buddypress  {
   @include media("<md"){
        #item-header {
            img.avatar {
                float: none !important;
                margin: 20px auto !important;
                display: block;
            }
        }
   }
}

.short,
.bad{
    color: $brand-danger;
}
.good,
.strong{
    color: $brand-success;
}

