
.site-footer { 
	background-color: $second_main_color;
	padding: oe_rem(10px) 0;
	.site-info{
		min-height: oe_rem(70px);
		@include flex(center, flex-start, row);

		.sprt{
			font-size: oe_rem(14px);
		}

		a{
			color: $main_text_color;
			margin: 0 oe_rem(4px);
			font-size: oe_rem(14px);
			font-weight: 400;
			@include transition();
			&:hover,
			&:active,
			&:focus{
				color: $text_color;
				text-decoration: none; 
			}
			&.uppercase{
				text-transform: uppercase;
				font-weight: 400;
			}
		}
		
		span{
			color: $main_text_color;
			margin: 0 oe_rem(4px);
			font-size: oe_rem(14px);
		}
		@include media("<md"){
			@include flex(center, center, column);
			padding: 4px;
			.sprt{
				display: none;
			}

			a{
				display: block;
				text-align: center; 
				padding: 4px;
				&:hover,
				&:active,
				&:focus{
					border:none;
					margin: auto;
				}
			}
		}

	}

	.facebook{
		display: block;
		float: right;
		line-height: oe_rem(65px);
		@include media("<md"){
			float: none;
    		text-align: center;
		}
	}
}