// SITE HEADE
.site-header{
	height: oe_rem(150px);
	.site-branding{
		height: oe_rem(150px);
		@include flex(center, flex-end, row);  
	} 
	.header_picto_container{
		height: oe_rem(150px);
		@include flex(center, flex-end, row);
		.header_picto{
			@include flex(center, flex-end, row);
			.compte{
				@include transition(all, .25s, ease-in-out);
				position: relative;
				padding: oe_rem(10px) 0;
				text-align: center;
				cursor: pointer;
				height: oe_rem(46px);
				width: oe_rem(85px);
				a{
					img{
						@include position(absolute, 0, 0, 0, 0);
						margin: 0 auto;
						&.first{
							opacity: 1;
						}
						
						&.second{
							opacity: 0;
						}
					}
					span{
						opacity: 0;
						font-size: oe_rem(14px);
						font-weight: 400;
						display: block;
						padding-top: oe_rem(20px);
					}
					&:hover{
						color: $text_color;
						img{
							@include position(absolute, 0, 0, 0, 0);
							&.first{
								opacity: 0;
							}
							
							&.second{
								opacity: 1
							}
						}
						span{
							opacity: 1;
						}
					}
				}
				
			}	
		}
	}
   &.fixed{
		.site-header-container{
			z-index: 999;
			height: oe_rem(80px);
			background-color: #fff;
			@include oe_box-shadow-dark;
			@include position(fixed, 0, 0, initial, 0);
			.site-branding{
				height: oe_rem(80px); 
			}
			.main-navigation{
				height: oe_rem(80px); 
			}
			.header_picto_container{
				height: oe_rem(80px); 
				.header_picto{ 
					.compte{
						@include transition(all, .25s, ease-in-out);
						position: relative;
						padding: oe_rem(10px) 0;
						text-align: center;
						cursor: pointer;
						height: oe_rem(46px);
						width: oe_rem(85px);
						a{
							img{
								@include position(absolute, 0, 0, 0, 0);
								margin: 0 auto;
								&.first{
									opacity: 1;
								}
								
								&.second{
									opacity: 0;
								}
							}
							span{
								opacity: 0;
								font-size: oe_rem(14px);
								font-weight: 400;
								display: block;
								padding-top: oe_rem(20px);
							}
							&:hover{
								color: $text_color;
								img{
									@include position(absolute, 0, 0, 0, 0);
									&.first{
										opacity: 0;
									}
									
									&.second{
										opacity: 1
									}
								}
								span{
									opacity: 1;
								}
							}
						}
					}	
				}
			}
		}
	}


	@include media("<lg") { 
		height: auto;
		padding-top: oe_rem(0);
		padding-bottom: oe_rem(0);
		.site-branding{
			height: oe_rem(70px);
			@include flex(center, center, row); 
		}
		
		.header_picto_container{
			height: auto;
			@include flex(center, center, row);
			.header_picto{
				@include flex(center, center, row);
				.compte{ 
					cursor: pointer;
					span{
						display: none;
					}
					&:hover{
						color: $text_color;
						span{
							opacity: 0;
						}
					}
				}	
			}
		}

	}
	
}

// MENU BURGER
#menu_burger{
	&.menu_icon {
		width: oe_rem(46px);
		height: oe_rem(32px);
		overflow: hidden;
		position: absolute;
		top: 50%;
		margin-top: oe_rem(-16px);
		right: oe_rem(10px);
		cursor: pointer;
		display: none;

		span {

			@include transition();
			display: block;
			width: 100%;
			position: absolute;
			height: oe_rem(3px);
			left: 0;
			background: $white;;

			&.menu_1 {    top: 0;}
			&.menu_2 {    top: oe_rem(14px);}
			&.menu_3 {    top: oe_rem(28px);}

		}
		@include media("<lg"){
			display: block;
		}
	}	
}

