// SITE HEADE
.site-header{
	height: oe_rem(150px);
	.site-branding{
		height: oe_rem(150px);
		@include flex(center, flex-end, row);  
	} 
	.header_picto_container{
		height: oe_rem(150px);
		@include flex(center, flex-end, row);
		.header_picto{
			@include flex(center, flex-end, row);
			width: 100%;
			.compte{
				@include transition(all, .25s, ease-in-out);
				position: relative;
				padding: oe_rem(10px) 0;
				text-align: center;
				cursor: pointer;
				height: oe_rem(46px);
				flex: 1;
				a{
					img{
						@include position(absolute, 0, 0, 0, 0);
						margin: 0 auto;
						&.first{
							opacity: 1;
						}
						
						&.second{
							opacity: 0;
						}
					}
					span{
						opacity: 0;
						font-size: oe_rem(12px);
						font-weight: 400;
						display: block;
						padding-top: oe_rem(20px);
					}
					&:hover{
						color: $text_color;
						img{
							@include position(absolute, 0, 0, 0, 0);
							&.first{
								opacity: 0;
							}
							
							&.second{
								opacity: 1
							}
						}
						span{
							opacity: 1;
						}
					}
					&.active{
						color: $text_color;
						img{
							@include position(absolute, 0, 0, 0, 0);
							&.first{
								opacity: 0;
							}
							
							&.second{
								opacity: 1
							}
						}
						span{
							opacity: 1;
						} 
					}
				}
			}	
		}
	}
   &.fixed{
		.site-header-container{
			z-index: 999;
			height: oe_rem(80px);
			background-color: #fff;
			@include oe_box-shadow-dark;
			@include position(fixed, 0, 0, initial, 0);
			.site-branding{
				height: oe_rem(80px); 
			}
			.main-navigation{
				height: oe_rem(80px); 
				ul {
					li {
						.sub-menu{
							&.showAll {
								top: 80px !important; 
						  }
						}
					}
				}
			}
			.header_picto_container{
				height: oe_rem(80px); 
				.header_picto{ 
					.compte{ 
						a{
							img{
								@include position(absolute, 0, 0, 0, 0);
								margin: 0 auto;
								&.first{
									opacity: 1;
								}
								
								&.second{
									opacity: 0;
								}
							}
							span{
								opacity: 0;
								font-size: oe_rem(14px);
								font-weight: 400;
								display: block;
								padding-top: oe_rem(20px);
							}
							&:hover{
								color: $text_color;
								img{
									@include position(absolute, 0, 0, 0, 0);
									&.first{
										opacity: 0;
									}
									
									&.second{
										opacity: 1
									}
								}
								span{
									opacity: 1;
								}
							}
						}
					}	
				}
			}

		}
	}


	@include media("<lg") { 
		height: auto;
		padding-top: oe_rem(0);
		padding-bottom: oe_rem(0);
		.site-branding{
			height: oe_rem(70px);
			@include flex(center, center, row); 
		}
		
		.header_picto_container{
			height: auto;
			padding: oe_rem(10px) 0;
			@include flex(center, center, row);
			.header_picto{
				@include flex(center, center, row);
				.compte{ 
					height: auto;
					cursor: pointer;
					span{
						display: none;
					}
					&:hover{
						color: $text_color;
						span{
							opacity: 0;
						}
					}
				}	
			}
		}

	}
	
}

// MENU BURGER
#menu_burger{
	&.menu_icon {
		width: oe_rem(46px);
		height: oe_rem(32px);
		overflow: hidden;
		position: absolute;
		top: 50%;
		margin-top: oe_rem(-16px);
		right: oe_rem(10px);
		cursor: pointer;
		display: none;

		span {

			@include transition();
			display: block;
			width: 100%;
			position: absolute;
			height: oe_rem(3px);
			left: 0;
			background: $white;;

			&.menu_1 {    top: 0;}
			&.menu_2 {    top: oe_rem(14px);}
			&.menu_3 {    top: oe_rem(28px);}

		}
		@include media("<lg"){
			display: block;
		}
	}	
}

/*qtranxs_widget*/

#selecteur_lang{
	margin-top: -10px;
	#lang_animate {
		
		.container_lang {
			width: 40px;
			height: 30px;
			margin: 0px auto 10px;
			perspective: 110px;
			perspective-origin: -0% -0%;
			.cube_lang{ 
				animation: langRotate 3.5s ease-in-out infinite;
				transform-style: preserve-3d;
				transform: translateZ(-15px);
				left: 15%;
				position: relative;
				margin: 0;
				width: 30px;
				height: 30px;
				transition: 1s;
				div {
					width: 30px;
					height: 30px;
					position: absolute;
					background-size: contain;    
					backface-visibility: hidden;
				}
				
				.ar {
					transform: rotateY(0deg) translateZ(0);
					background-image: url(img/lang/ar.png);
				} 
				.fr {
					transform: rotateY(180deg) translateZ(0);
					background-image: url(img/lang/fr.png);
				}  
				&.active_ar {
					transform: translateZ(-15px) rotateY(0deg); 
				} 
				&.active_fr {
					transform: translateZ(-15px) rotateY(180deg); 
				} 
			}
		}

		.qtranxs_widget {
			clear: both;
			position: relative; 
			background: #fff;
			ul {
				text-align: center;
				padding: 0;
				margin: 0;
				li {
					display: block;
					margin: 0;
					padding: 0;
					border: 1px solid #eee;
					a{
						span{
							opacity: 1;
							padding: 2px;
						}
					}
				}
			}
			select{
				border: none;
				font-size: 12px;
				font-weight: 400;
				padding: 0 16px;
				height: 30px;
				color: #113b74;
				background-color: transparent;
				cursor: pointer;
				margin: 0;
				appearance: none;
				-o-appearance: none;
				-moz-appearance: none;
				-webkit-appearance: none;
			}
		} 

	}
}

@keyframes langRotate {
	from {  transform: translateZ(-15px) rotateY(0deg);  } 
	50% {  transform: translateZ(-15px) rotateY(180deg);  } 
	to   {  transform: translateZ(-15px) rotateY(360deg);  }
}

