.main-navigation{
	@include flex(center, flex-end, row);
	height: oe_rem(150px);
	font-size: oe_rem(15px);
	font-weight: 600;
	&>div{
		width: 100%;
	} 
	.menu-toggle{
		display: none;
	}
	ul{
		list-style: none;
		@include flex(center, space-around, row);
		padding: 0;
		margin: 0;
		li{
			position: relative;
			&.free{
				&:after{
					content: "";
					width: oe_rem(36px);
					height: oe_rem(13px);
					background-size: contain;
					background-image: url(./img/icons/free.png);
					@include position(absolute, oe_rem(-15px), 0, 0, initial);
				}
			}
			
			a{
				text-transform: uppercase;
				color: $main_text_color;
				&:hover{
					color: $text_color;
				}
			}

			&.current-menu-item > ,
			&.current-menu-parent > ,
			&.current-menu-ancestor > {
				a{
					color: $text_color;
				}
			}
  
			.sub-menu{
				&.showAll{
					display: flex;
					opacity: 1;
					.sub-menu{
						opacity: 1;
					}
				}
				opacity: 0;
				padding: oe_rem(20px) 0;
				background-color: $light_color;
				@include oe_box-shadow;
				@include flex(stretch, center, row);
				@include position(fixed, initial, 0, initial, 0);
				transition: opacity .25s ease-in-out;
				display: none;
				z-index: 999;
				li{
					padding: 0 oe_rem(15px); 
					a{
						border: none;
						color: $text_color;
						font-size: oe_rem(22px);
						font-weight: 300;
						text-transform: uppercase;    
						padding: oe_rem(6px) 0;
						margin-bottom: oe_rem(25px);
						text-align: center;
						display: block;
						&:hover{
							color: $main_text_color;
						}
					}
				}
				ul{ 
					padding: 0;
					box-shadow: none;
					background-color: $light_color;
					@include flex(stretch, stretch, column);
					@include position(relative, initial, initial, initial, initial);
					li{
						padding: 0;
						a{
							color: $darker_color;
							font-size: oe_rem(19px);
							font-weight: 300; 
							margin-bottom: 0;
							text-align: left;
							text-transform: initial;    
						}
					}
				}
			} 

			.showAll{
				.close{ 
					display: none;
					height: oe_rem(60px);
					width: oe_rem(60px);
					text-align: center;
					line-height: oe_rem(60px);
				}
			}
		}
	}
	@include media("<xl"){  
		font-size: oe_rem(13px);
		font-weight: 500;
	}
	@include media("<lg"){
		@include flex(center, flex-end, row);
		height: auto;
		font-size: oe_rem(15px);
		font-weight: 500;
		ul{
			padding: oe_rem(20px) 0;
			@include flex(stretch, flex-start, row);
			flex-wrap: wrap;
			background-color: $white;
			li{
				width: 50%;
				a{
					text-align: center;
					padding: oe_rem(6px) 0;
					height: oe_rem(50px);
					font-size: oe_rem(13px) !important;
					border: 1px solid $lighter_color;
					@include flex(center, center, row);
				}

				.sub-menu{ 
					
					&.showAll{
						display: flex;
						overflow-y: scroll;
					}
					@include position(fixed, 0, 0, 0, 0);
					@include flex(center, center, row);
					z-index: 999;
					display: none;
					li{ 
						a{
							border: none; 
							height: initial;
							margin-bottom: oe_rem(10px);
						}
					}
					ul{  
						li{
							width: 100%;
							a{     
								margin-bottom: 0;    
								height: initial;
							}
						}
					}
				} 
				.showAll{
					.close{ 
						color: #fff; 
						display: block;
						@include position(absolute, oe_rem(15px), oe_rem(15px), initial, initial); 	
					}
				}
			}
		}
	}
}





#wpadminbar{
	// display: none;
}