.main-navigation{
	@include flex(center, flex-end, row);
	height: oe_rem(150px);
	&>div{
		width: 100%;
	}
	.menu-toggle{
		display: none;
	}
	font-size: oe_rem(15px);
	font-weight: 600;
	ul{
		list-style: none;
		@include flex(center, space-around, row);
		padding: 0;
		margin: 0;
		li{
			position: relative;
			&.free{
				&:after{
					content: "";
					width: oe_rem(35px);
					height: oe_rem(12px);
					background-size: contain;
					background-image: url(./img/icons/free.png);
					@include position(absolute, oe_rem(-15px), 0, 0, initial);
				}
			}
			a{
				text-transform: uppercase;
				color: $main_text_color;
				&:hover{
					color: $text_color;
				}
			}
			&.current-menu-item > ,
			&.current-menu-parent > ,
			&.current-menu-ancestor > {
				a{
					color: $text_color;
				}
			}
		}
	}
	@include media("<md"){
		@include flex(center, flex-end, row);
		height: auto;
		ul{
			padding: oe_rem(20px) 0;
			@include flex(stretch, flex-start, row);
			flex-wrap: wrap;
			background-color: $white;
			li{
				width: 50%;
				a{
					text-align: center;
					padding: oe_rem(6px) 0;
					height: oe_rem(50px);
					font-size: oe_rem(13px) !important;
					border: 1px solid $lighter_color;
					@include flex(center, center, row);
				}
			}
		}
	}
}





